<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="1" name="HomepageTest">
		<classes>
			<class
				name="com.atmecs.practo.testscripts.SelectPharmacyTestScript" />

		</classes>
	</test>
	<test thread-count="1" name="productselectionTest">
		<classes>

			<class
				name="com.atmecs.practo.testscripts.SelectProductTestScript" />


		</classes>
	</test>

	<test thread-count="1" name="checkoutTest"> 
		<classes>
			<class
				name="com.atmecs.practo.testscripts.ProductCheckoutTestScript" />
		</classes>
	</test>

</suite> 
